head{
	margin-top: 150px;
}

.barLife{
height: 150px;
position:absolute;
top:820px;
}

.bord{
border:3px solid black;
}

.fondEnnemi{
width:50px;
height:102px;
background-color: red;
}



.ligne{
display:flex;
margin-left:auto;
margin-right:auto;
margin-top:300px;
}

.colonne{
display:grid;
right:400px;
position: absolute;
}

body{
background-image: url(images/map/map02.png);
background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -200px;
}

.fond1{
		background-color:lightslategrey;
}

.arm{
    position:absolute;
    bottom: 70px;
}

#mechantImg{
	display: flex;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 40px;
	height: 45px;
  }
